* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  outline: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  clear: both;
  float: left;

  background-color: #000;

  overflow-x: hidden;
}

#container {
  width: 100%;

  clear: both;
  float: left;
}
